<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="freeBoard">

<insert id="insertFreeBoard" parameterType="com.sp.freeBoard.FreeBoard">
INSERT INTO freeboard(userId, subject, content) VALUES (#{userId}, #{subject}, #{content})
</insert>

</mapper>